{{> navBarPartial}}
<div id="main-margin">

<!-- TITULO -->
<h2 class="Title">Registro</h2>
<!-- FORMULARIO DE REGISTRO -->
<div>
  <form id="signup-container" action="/signup" method="POST">
    <label class="signupElement" for="input-username">Nombre de Usuario</label>
    <input class="signupElement" type="text" id="input-username" name="nombre" placeholder="Introduzca su nombre" />

    <label class="signupElement" for="input-email">Email:</label>
    <input class="signupElement" type="email" id="input-email" name="email" placeholder="Introduzca su Email" />

    <label class="signupElement" for="input-password">Contraseña:</label>
    <input class="signupElement" type="password" name="password" id="input-password" placeholder="********" />
    {{!-- error message will be added here --}}
    {{#if errorMessage}}
    <div id="errorMessage">
      <p class="error"><b> {{errorMessage}}</b></p>
    </div>
    {{/if}}

    <button class="Button" class="signupElement" type="submit">Crear cuenta</button>

    <a id="googleButton" class="Button" href="/auth/google"><img id="fbLogo" src="/images/google.png" alt="google">
      Accede con Google</a>
    <a id="fbButton" class="Button" href="/auth/facebook"><img id="fbLogo" src="/images/facebook.png" alt="Fb"> Accede
      con Facebook</a>

  </form>
</div>


<div id="loginImgContainer">
  <img id="amigasImg" src="/images/tres-amigas-sentadas-cafeteria-almorzando-hablando_74855-5295.jpg" alt="Chicas">
</div>
</div>