body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

li {
  list-style: none; }

h3, h4 {
  text-align: center; }

#main-margin {
  width: 85%;
  display: block;
  margin: auto; }

#boton-logout {
  border: none;
  background-color: #222;
  color: white;
  padding-top: 13px;
  padding-bottom: 15px;
  outline: none; }

.navbar {
  border-radius: 0px !important; }

.Title {
  width: 100%;
  text-align: center;
  background-color: cornflowerblue;
  margin-bottom: 30px;
  padding: 1%;
  border-radius: 15px; }

#logoMymenu {
  margin-left: 2%;
  width: 70px;
  height: auto; }

.intro {
  text-align: center;
  margin-bottom: 60px; }

.pinSearch {
  width: 100%;
  text-align: center;
  margin-bottom: 60px; }

#homeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.homeCard {
  font-size: 100%;
  text-align: center;
  width: 30%;
  background-color: cornflowerblue;
  padding: 3%;
  border-radius: 15px;
  margin-bottom: 2%; }

footer {
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #222;
  padding: 1%;
  border-radius: 15px;
  text-align: center; }

.cardImg {
  width: 40%; }

#irMenu {
  width: 14%;
  border-radius: 15px;
  color: white;
  background-color: #222;
  border: none;
  padding: 7px; }

#pin {
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  margin-left: 3%;
  margin-right: 3%; }

#signup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border-radius: 15px; }

.signupElement {
  font-size: larger;
  width: 30%;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 15px;
  padding: 7px; }

.Button {
  margin-top: 2%;
  width: 30%;
  color: white;
  background-color: #222;
  border-radius: 15px;
  padding: 7px; }

#amigasImg {
  width: 40%;
  display: block;
  margin: auto; }

#login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.loginElement {
  font-size: larger;
  width: 30%;
  text-align: center;
  margin-bottom: 5px;
  border-radius: 15px;
  padding: 7px; }

#loginImg {
  width: 60%;
  display: block;
  margin: auto; }

#fbButton {
  background-color: #3b5998;
  text-align: center; }

#fbLogo {
  height: 25px;
  width: auto;
  margin-right: 5px; }

#googleButton {
  background-color: white;
  border: 1px solid red;
  color: red;
  text-align: center; }

#profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.profileElement {
  font-size: larger;
  width: 30%;
  text-align: center;
  margin-bottom: 5px; }

.card {
  text-align: center; }

#saveRestaurantButton {
  color: white;
  background-color: cornflowerblue; }

#addRestaurantButton {
  color: white;
  background-color: cornflowerblue; }

#addRestaurantButton {
  margin-top: 2%;
  width: 30%;
  color: white;
  background-color: #222;
  border-radius: 15px;
  padding: 7px;
  display: block;
  margin: auto;
  margin-bottom: 3%; }

#cardLogo {
  max-height: 300px;
  max-width: 300px;
  display: block;
  margin: auto; }

#logo-container {
  height: 200px;
  width: 250px;
  display: block;
  margin: auto; }

#restauranteContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%; }

.restauranteCard {
  font-size: 80%;
  text-align: center;
  width: 30%;
  background-color: cornflowerblue;
  padding: 3%;
  border-radius: 15px;
  margin-bottom: 2%; }

.nombreLogo {
  text-align: center; }

#editButton {
  border: 1px solid black; }

#QRimg {
  max-width: 150px;
  max-height: 150px; }

.modal-title {
  width: 100%;
  text-align: center;
  background-color: cornflowerblue;
  margin-bottom: 30px;
  padding: 2%;
  border-radius: 15px; }

#saveRestaurantButton {
  background-color: #222;
  color: white;
  border-radius: 15px;
  width: 50%; }

#popUp-button {
  background-color: #222;
  color: white;
  border-radius: 15px;
  width: 50%; }

.profileElement {
  width: 50%;
  border-radius: 15px;
  padding: 1%; }

#creaMenuTitle {
  width: 100%;
  text-align: center;
  background-color: cornflowerblue;
  margin-bottom: 60px; }

.subTitle {
  width: 100%;
  text-align: center;
  background-color: cornflowerblue;
  margin-bottom: 30px;
  padding: 1%;
  border-radius: 15px; }

#tipoDeMenu {
  border-radius: 15px;
  padding: 7px; }

#creaMenu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.creaMenuElement {
  font-size: larger;
  width: 30%;
  text-align: center;
  margin-bottom: 15px; }

#menu-listing {
  text-align: right;
  list-style: none;
  background-color: cornflowerblue;
  border-radius: 15px;
  padding: 1%; }

#categoryEdit-container {
  margin-bottom: 10%; }

#listing-container {
  display: block;
  margin: auto;
  width: 40%;
  text-align: center;
  background-color: cornflowerblue;
  border-radius: 15px;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 40px; }

.crudOpsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
  justify-content: space-around;
  border-bottom: 2px solid white; }

#editionOptions-container {
  display: flex;
  flex-direction: column; }

#crudElement {
  margin-right: 2%; }

.createButton {
  border-radius: 15px;
  color: white;
  background-color: #222;
  border: none;
  padding: 10px;
  margin-left: 1%; }

.input {
  border-radius: 15px;
  padding: 7px; }

#menuName {
  margin-right: 20px; }

.editLink {
  margin-right: 10px;
  margin-bottom: 15px;
  color: white; }

#menuCreate-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.inputNombreMenu {
  border-radius: 15px;
  padding: 5px; }

.inputPrecio {
  border-radius: 15px;
  padding: 5px; }

.inputInfoMenu {
  border-radius: 15px; }

.labelNombreMenu {
  margin-right: 20px; }

.labelPrecio {
  margin-right: 20px;
  margin-left: 20px; }

.labelInfoMenu {
  margin-right: 20px;
  margin-left: 20px; }

#instructions {
  display: flex;
  flex-direction: column; }

.instructionsElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px; }

.imgInstructions {
  margin-right: 20px; }

#editMenuTitle {
  width: 100%;
  text-align: center;
  background-color: cornflowerblue;
  margin-bottom: 60px; }

#editName {
  text-align: center; }

#editElementPrice {
  text-align: center;
  margin-bottom: 3%; }

#element-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin-bottom: 8%; }

#deleteButton {
  background-color: #DC5757; }

.subTitle {
  text-align: center;
  margin-bottom: 3%; }

#menuCreate {
  text-align: center;
  margin-bottom: 3%; }

#price-element {
  margin-right: 20px; }

#backLink {
  text-align: center; }

.button {
  border-radius: 15px;
  color: white;
  background-color: #222;
  border: none;
  padding: 7px; }

#backLink {
  margin-top: 10%; }

#elemento {
  margin-right: 90px;
  margin-bottom: 10%; }

.container {
  width: 100%; }

#displayMenu-Title {
  text-align: center;
  width: 100%;
  background-color: cornflowerblue; }

.menu-name {
  width: 100%;
  color: white;
  background-color: #222;
  padding: 20px;
  border: none;
  border-radius: 15px; }

#prize {
  text-align: end; }

#menu-especial {
  width: 100%;
  color: white;
  background-color: #222;
  padding: 20px;
  border: none;
  margin-bottom: 20px;
  border-radius: 15px; }

.menu-container {
  text-align: center; }

.labelPrecio {
  display: none; }

.labelNombreMenu {
  display: none; }

.labelInfoMenu {
  display: none; }

.listaMenu {
  margin-top: 25px; }

#logoMenuDisplay {
  display: block;
  margin: auto;
  margin-bottom: 2%; }

#errorMessage {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  background-color: #DC5757;
  border-radius: 15px;
  padding: 1%;
  text-align: center;
  color: white; }

#errorImg {
  display: block;
  margin: auto;
  width: 50%; }

#notFoundImg {
  display: block;
  margin: auto;
  width: 50%; }

.errormsg {
  text-align: center; }

@media (max-width: 425px) {
  .Title {
    padding: 5%; }
  #homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .homeCard {
    width: 90%;
    margin-bottom: 4%;
    font-size: 5vw; }
  .pinInput {
    width: 30%; }
  #irMenu {
    margin-top: 5%;
    width: 30%; }
  .loginElement {
    width: 80%; }
  .Button {
    width: 80%; }
  #errorMessage {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 5%; }
  #loginImg {
    width: 90%; }
  #amigasImg {
    width: 90%; }
  #logoMenuDisplay {
    width: 90%;
    margin-bottom: 8%; }
  .signupElement {
    width: 80%; }
  #addRestaurantButton {
    width: 80%; }
  #errorImg {
    width: 100%; }
  #notFoundImg {
    width: 100%; }
  #restauranteContainer {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .restauranteCard {
    width: 90%;
    margin-bottom: 4%;
    font-size: 5vw; }
  #infoRestaurante {
    padding-top: 70px; } }

@media (min-width: 426px) and (max-width: 768px) {
  .homeCard {
    font-size: 2vw;
    margin-bottom: 4%; }
  .irMenu {
    margin-top: 5%;
    width: 25%; }
  .Title {
    padding: 3%; }
  .loginElement {
    width: 50%; }
  .Button {
    width: 50%; }
  #loginImg {
    width: 70%; }
  #amigasImg {
    width: 60%; }
  .signupElement {
    width: 50%; }
  #errorMessage {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 5%; }
  #errorImg {
    width: 100%; }
  #notFoundImg {
    width: 100%; }
  .restauranteCard {
    font-size: 2vw;
    margin-bottom: 4%; }
  #infoRestaurante {
    padding-top: 70px; } }

/*# sourceMappingURL=style.css.map */