@import url(‘https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap’);
body {
   font-family: 'Roboto Mono', monospace !important;

  li {
    list-style: none;
  }

  h3,
  h4 {
    text-align: center;
  }
}

//HOME PAGE
#main-margin {
  width: 85%;
  display: block;
  margin: auto;

}

#boton-logout {
  border: none;
  background-color: #222;
  color: white;
  padding-top: 13px;
  padding-bottom: 15px;
  outline: none;
}

#boton-inicio {
  color: white;
  text-decoration: none;
}

.navbar {
  border-radius: 0px !important;

}

.navbar-header {
  margin-top: 10px;
}


.Title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  padding: 1%;
  
}

#logoMymenu {
  margin-left: 2%;
  width: 70px;
  height: auto;
}

.intro {
  text-align: center;
  margin-bottom: 60px;
}

.pinSearch {

  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

#homeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.homeCard {
  font-size: 100%;
  text-align: center;
  width: 30%;
  padding: 3%;
  border: 4px solid black;
  margin-bottom: 2%;
}

.margin-button{
  margin-bottom:9px !important;
}


footer {

  bottom: 0;
  width: 100%;
  color: white;
  background-color: #222;
  padding: 1%;
  
  text-align: center;
}

.cardImg {
  width: 40%;
}

#irMenu {
  min-width: 300px;
  
  color: white;
  background-color: #222;
  border: none;
  padding: 7px;
}

#pin {
  
  text-align: center;
  padding: 5px;

}

.pinInput{
  min-width: 300px;
  margin-bottom:15px;
  font-size: 23px}

// SIGN-UP PAGE

#signup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2%;
 
}

.signupElement {
  font-size: larger;
  width: 30%;
  text-align: center;
  margin-bottom: 5px;

  padding: 7px;

}

.Button {
  margin-top: 2%;
  width: 30%;
  color: white;
  background-color: #222;
  
  padding: 7px;
}

#amigasImg {

  width: 40%;
  display: block;
  margin: auto;

}

// LOGIN PAGE

#login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginElement {
  font-size: larger;
  width: 30%;
  text-align: center;
  margin-bottom: 5px;

  padding: 7px;
}

#loginImg {

  width: 60%;
  display: block;
  margin: auto;

}

#fbButton {
  background-color: #3b5998;
  text-align: center;
}

#fbLogo {
  height: 25px;
  width: auto;
  margin-right: 5px;

}

#googleButton {
  background-color: white;
  border: 1px solid red;
  color: red;
  text-align: center;
}

// USER PROFILE

#profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileElement {
  font-size: larger;
  width: 30%;
  text-align: center;
  margin-bottom: 5px;
}

.card {
  text-align: center;
}

#saveRestaurantButton {
  color: white;
  background-color: cornflowerblue;
}

#addRestaurantButton {
  color: white;
  background-color: cornflowerblue;
}

#addRestaurantButton {
  margin-top: 2%;
  width: 30%;
  color: white;
  background-color: #222;
  
  padding: 7px;
  display: block;
  margin: auto;
  margin-bottom: 3%;
}

#cardLogo {

  max-height: 300px;
  max-width: 300px;
  display: block;
  margin: auto;
}

#logo-container {
  height: 200px;
  width: 250px;
  display: block;
  margin: auto;

}

#restauranteContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  border-bottom: 3px solid ;
  padding-bottom: 15px;

}

.QrCard {
  display: flex;
  flex-direction: column;

}

.descargarCodigo {

  text-align: center;
}

.restauranteCard {
  font-size: 80%;
  text-align: center;
  width: 30%;
  background-color: cornflowerblue;
  padding: 3%;
  
  margin-bottom: 2%;
}

.nombreLogo {
  text-align: center;
}

#editButton {
  width: 100%;
  border: 1px solid black;
}

#QRimg {
  max-width: 150px;
  max-height: 150px;
}

#gestionMenu {
  width: 100%;
  border: 1px solid black;
}


// EDIT RESTAURANT POP UP
.modal-title {
  width: 100%;
  text-align: center;
  background-color: cornflowerblue;
  margin-bottom: 30px;
  padding: 2%;
  
}

#saveRestaurantButton {
  background-color: #222;
  color: white;
  
  width: 50%;
}

#popUp-button {
  background-color: #222;
  color: white;
  
  width: 50%;

}

.profileElement {
  width: 50%;
  
  padding: 1%;
}


//CREAR MENU
#creaMenuTitle {
  width: 100%;
  text-align: center;
  background-color: cornflowerblue;
  margin-bottom: 60px;
}

.subTitle {
  width: 100%;
  text-align: center;
  background-color: cornflowerblue;
  margin-bottom: 30px;
  padding: 1%;
  
}

#tipoDeMenu {
  
  padding: 7px;
}

#creaMenu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creaMenuElement {
  font-size: larger;
  width: 30%;
  text-align: center;
  margin-bottom: 15px;
}

#menu-listing {
  text-align: right;
  list-style: none;
  background-color: cornflowerblue;
  
  padding: 1%;

}

#categoryEdit-container {
  margin-bottom: 10%;
}

#listing-container {
  display: block;
  margin: auto;
  width: 40%;
  text-align: center;
  background-color:#fafafa;
  
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 40px;
}

.crudOpsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
  justify-content: space-around;
  border-bottom: 2px solid white;


}

#editionOptions-container {
  display: flex;
  flex-direction: column;
}

#crudElement {
  margin-right: 2%;
}

.createButton {
  
  color: white;
  background-color: #222;
  border: none;
  padding: 10px;
  margin-left: 1%;
}

.createMenuButton {
  
  color: white;
  background-color: #222;
  border: none;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 30%;
}

#deleteMenu {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

#nombreCategoria {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}


.input {
  
  padding: 7px;
}

#menuName {
  margin-right: 20px;
}

.editLink {
  margin-right: 10px;
  margin-bottom: 15px;
  color:#666;
}

#menuCreate-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputNombreMenu {
  
  padding: 5px;
}

.inputPrecio {
  
  padding: 5px;
}

.inputInfoMenu {
  
}

.labelNombreMenu {
  margin-right: 20px;
}

.labelPrecio {
  margin-right: 20px;
  margin-left: 20px;
}

.labelInfoMenu {
  margin-right: 20px;
  margin-left: 20px;
}

#instructions {

  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 100px;

}

.instructionsElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.imgInstructions {
  margin-right: 20px;
}

#instructionsLine {
  text-align: center;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover,
.nav-pills>li>a:hover
 {
  background-color: white !important;
  border-bottom: 4px solid black;
  margin-bottom: 40px;
  color: black !important; 
}

//EDITA MENU
#editMenuTitle {
  width: 100%;
  text-align: center;
  background-color: cornflowerblue;
  margin-bottom: 60px;
}

#nombreMenu {
  margin-left: 20px;
  margin-right: 20px;
}

#elementoMenu {
  margin-right: 20px;
}

#editName {
  text-align: center;
}

#editElementPrice {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 3%;
}

#precio {
  margin-right: 20px;
}

#element-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin-bottom: 8%;
}

#deleteButton {
  background-color: #DC5757;
}

.subTitle {
  text-align: center;
  margin-bottom: 3%;
}

#menuCreate {
  text-align: center;
  margin-bottom: 3%;
}

#price-element {
  margin-right: 20px;
}

#backLink {

  text-align: center;
}

#backtoMenu {
  
  color: white;
  background-color: #222;
  border: none;
  padding: 15px;
}

.button {
  
  color: white;
  background-color: #222;
  border: none;
  padding: 7px;
}

#backLink {
  margin-top: 7%;
}

#elemento {
  margin-right: 110px;
  margin-bottom: 10%;
}

// DISPLAY CARTA
.container {
  width: 100%;
}

#displayMenu-Title {
  text-align: center;
  width: 100%;
  background-color: cornflowerblue;
}

.menu-name {
  width: 100%;
  color: white;
  background-color: #222;
  padding: 20px;
  border: none;
  
}

#prize {
  text-align: end;
  border-bottom: 3px solid;
  
}

//DISPLAY MENU ESPECIAL
.menu-especial {
  width: 100%;
  color: white;
  background-color: #222;
  padding: 20px;
  border: none;
  margin-bottom: 20px;
  
}

.menu-container {
  text-align: center;
}

.labelPrecio {
  display: none;
}

.labelNombreMenu {
  display: none;
}

.labelInfoMenu {
  display: none;
}

.listaMenu {
  margin-top: 25px;
}

#logoMenuDisplay {
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

//ERRORES
#errorMessage {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  background-color: #DC5757;
  
  padding: 1%;
  text-align: center;
  color: white;
}

#errorImg {
  display: block;
  margin: auto;
  width: 50%;
}

#notFoundImg {
  display: block;
  margin: auto;
  width: 50%;
}

.errormsg {
  text-align: center;
}


//MEDIA QUERYS

//Mobile
@media (max-width: 425px) {

  //HOME
  .Title {
    padding: 5%;
  }

  #homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homeCard {
    width: 90%;
    margin-bottom: 4%;
    font-size: 5vw;
  }

  .pinInput {
    width: 100%;
  }

  #irMenu {
    width: 100%;
  }

  //LOGIN 
  .loginElement {
    width: 80%;
  }

  .Button {
    width: 80%;
  }

  #errorMessage {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 5%;
  }

  #loginImg {
    width: 90%;
  }

  #amigasImg {
    width: 90%;
  }

  //DISPLAY MENU
  #logoMenuDisplay {
    width: 90%;
    margin-bottom: 8%;
  }

  //SIGNUP
  .signupElement {
    width: 80%;
  }

  //USER-PROFILE
  #addRestaurantButton {
    width: 80%;
  }

  #restauranteContainer {
    margin-bottom: 50px;
    align-items: center;
    padding-bottom: 60px;
  }

  .Qr {
    align-items: center;
    margin-bottom: 50px;
  }

  #QRimg {
    display: block;
    margin: auto;
  }

  .QrCard {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #restauranteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .restauranteCard {
    width: 90%;
    margin-bottom: 4%;
    font-size: 5vw;
  }

  #infoRestaurante {
    padding-top: 70px;
  }

  #listing-container {
    width: 80%;
    padding: 10px;
  }

  //ERROR
  #errorImg {
    width: 100%;
  }

  //NOTFOUND
  #notFoundImg {
    width: 100%;
  }

  //CREA MENU
  #center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #elemento {
    display: block;
    margin: auto;
  }

  #price-element {
    display: block;
    margin: auto;
  }

  #precio {
    display: block;
    margin: auto;
  }

  #nombreMenu {
    display: block;
    margin: auto;
  }

  #elementoMenu {
    display: block;
    margin: auto;
  }

  .button {
    margin-top: 20px;
  }

  .createButton {
    margin-top: 20px;
  }

}


//TABLET

@media (min-width: 426px) and (max-width: 768px) {

  //HOME
  .homeCard {
    font-size: 2vw;
    margin-bottom: 4%;
  }

  .homeCard h3 {
    font-size: 2vw;
  }

  .irMenu {
    margin-top: 5%;
    width: 25%;
  }

  .Title {
    padding: 3%;
  }

  //LOGIN
  .loginElement {
    width: 50%;
  }

  .Button {
    width: 50%;
  }

  #loginImg {
    width: 70%;
  }

  #amigasImg {
    width: 60%;
  }

  //SIGNUP
  .signupElement {
    width: 50%;
  }

  #errorMessage {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 5%;
  }

  // USER-PROFILE
  #addRestaurantButton {
    width: 50%;
    margin-bottom: 10%;
  }

  #QRimg {
    max-width: 100px;
  }

  #cardLogo {
    max-width: 200px;
    height: auto;
  }

  //ERROR
  #errorImg {
    width: 100%;
  }

  //NOTFOUND
  #notFoundImg {
    width: 100%;
  }

  .restauranteCard {
    font-size: 2vw;
    margin-bottom: 4%;
  }

  #infoRestaurante {
    padding-top: 70px;
  }

  // CREA MENU

  #editionOptions-container {
    width: 100%;
    padding: 10%;
    font-size: 2vw;
    padding-left: 3%;
    padding-right: 3%;
  }

  //EDITAR CATEGORIA
  #price-element {
    display: block;
    margin: auto;
  }

  #elemento {
    display: block;
    margin: auto;
  }

  .button {
    display: block;
    margin: auto;
    margin-top: 20px;
  }

  #edittingOptions-container {
    width: 100%;
    padding: 10%;
    font-size: 2vw;
    padding-left: 3%;
    padding-right: 3%;

  }


}

.pinbusqueda {

}